{% extends 'main-layout.html' %}

{% block pageTitle %}
  NHS Cross Channel Tracking
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>NHS Cross Channel Tracking</h1>

      <p class="nhsuk-lede-text">Index of prototypes created and maintained by the Cross-Channel Tracking team.</p>

      <h4>November 2023</h4>
      <ul>
        <li><a href="cct-login/home">CCT - Login journey</a></li>
      </ul>

      <ul>
        <li><a href="cct-login-v2/home">CCT - Login journey v2 (no pop-up)</a></li>
      </ul>
      <hr>


      <p class="nhsuk-body">
        We use the NHS Design Handbook and GDS Service Standards to guide our work and ensure that the services we are delivering are equitable and inclusive.
      </p>

      <p class="nhsuk-body">
        <a href="https://service-manual.nhs.uk/">NHS digital service manual</a><br>
        <a href="https://github.com/Charlotte-SPARCK/nhs-cross-tracking">NHS Cross-Channel prototype on Github</a><br>
        <a href="https://service-manual.nhs.uk/design-system/prototyping">Getting started with prototyping</a>
      </p>

    </div>
  </div>
{% endblock %}
