<!-- Extends the layout from /views/layout.html -->
{% extends 'cct-login/layouts/layout-login.html' %}

{% set contentTitle = "Enter your password" %}


<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Log in - Email
{% endblock %}

{% block outerContent %}
{{ backLink({
  "href": "email",
  "text": "Back to: Enter your email address",
  "classes": "nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-4"
}) }}
{% endblock %}



{% block content %}
<form action="security-code" method="post" class="form">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        {{ contentTitle }}
      </h1>
    </legend>

    <p>Enter your password to log in.</p>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="password">
        Password
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="password" name="password" type="password">
    </div>
  </fieldset>

  <p>If you cannot remember your password, you can <a href="">reset it</a>.</p>

  {{ button({
    "text": "Continue"
  }) }}

</form>
{% endblock %}
